[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
torch = "*"
torchvision = "*"
pysdd = "*"
imageio = "*"
matplotlib = "*"
tqdm = "*"
sympy = "*"
hiddenlayer = "*"
graphviz = "*"
pylon-lib = "*"
semantic-loss-pytorch = {git = "https://github.com/lucadiliello/semantic-loss-pytorch.git"}

[dev-packages]

[requires]
python_version = "3.9"
